* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas,
.wrapper {
    position: absolute;
    width: 800px;
    height: 700px;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#canvas {
    background-image: url("assets/background.png");
    background-position-y: -150px;
    background-repeat: repeat-x;
    background-size: cover;
}

.ground {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
    left: 0;
    background-image: url("assets/tile_ground_down_01.png");
}

.grass {
    position: absolute;
    width: 100%;
    height: 128px;
    bottom: 40px;
    left: 0;
    background-image: url("assets/tile_ground01.png");
}
