* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas,
.wrapper {
    position: absolute;
    width: 900px;
    height: 700px;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#canvas {
    background-image: url("assets/background.png");
    background-position-y: -150px;
    background-repeat: repeat-x;
    background-size: cover;
}

.ground {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
    left: 0;
    background-image: url("assets/tile_ground_down_01.png");
}

.grass {
    position: absolute;
    width: 100%;
    height: 128px;
    bottom: 40px;
    left: 0;
    background-image: url("assets/tile_ground01.png");
}

.hole {
    position: absolute;
    width: 128px;
    height: 73px;
    bottom: 95px;
    left: 500px;
    background-image: url("assets/object_hole.png");
    background-repeat: no-repeat;
}

.stick {
    position: absolute;
    width: 18px;
    height: 254px;
    bottom: 73px;
    left: 55px;
    background-image: url("assets/object_flag_stick.png");
    background-repeat: no-repeat;
}

.flag{
    position: absolute;
    width: 128px;
    height: 128px;
    bottom: 220px;
    left: 73px;
    /*animation: test 1s infinite;*/
    animation: flagMove1 .5s infinite, flagMove2 .5s infinite;
}

@keyframes flagMove1 {
    0% {
        display: none;
    }
    100%{
        background-image: url("assets/object_flag_anim02.png");
    }
}

@keyframes flagMove2 {
    0% {
        background-image: url("assets/object_flag_anim01.png");
    }
    100%{
        display: none;
    }
}